@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Rubik';
  color: #254cdd;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Container {
  display: flex;
  flex-direction: row;
}

.Blog {
  max-width: 80vh;
  max-height: 80vh;
  padding: 60px 100px;
  margin: 0 auto;
  text-align: left;

}

.Advertisement {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 2rem;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  font-size: 16px;
  width: 100%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor:pointer;
}

#title {
  padding-top: 32px;
}

#status {
  color:#ff6f59;
}

.uploadFile {
  border: 4px dashed rgba(4, 4, 5, 0.1);
  border-radius: 16px;
  text-align: center;
  padding: 32px 60px;
}

#walletButton {
  text-align: right;
  float:right;
  margin-bottom: 50px;
  line-height: 16px;
}

#mintButton {
  margin-top: 40px;
  background-color: #254cdd;
  color:white;
}

.black {
  color: #404040 ;
}

.small-ad {
  background-color: #404040;
  color: white;
  height: 6rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
}

.medium-ad {
  background-color: #404040;
  color: white;
  height: 7rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 3.5rem;
}

.big-ad {
  background-color: #404040;
  color: white;
  height: 10rem;
  width: 15rem;
  text-align: center;
  margin-bottom: 1rem;
  padding-top: 5rem;
}

.buyButton {
  color: #ff6f59;
  border-color: #ff6f59;
  padding: 4px 8px;
  max-height: 30px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 1rem;
}

.adText {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}